* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.scores {
    position: absolute;
    top: 30px;
    left: 30px;
}

.timer {
    position: absolute;
    top: 30px;
    right: 30px;
}

.home-wrapper {
    margin: 50px;
    text-align: center;
}

.hidden {
    display: none;
    text-align: center;
}

button {
    background-color: rgb(9, 56, 56);
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(32, 158, 158);
}

#end {
    display: none;
}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }