/* Set font universally */
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Position highscores link to top-left of page */
.highscores {
    position: absolute;
    top: 30px;
    left: 30px;
}

/* Position timer to top-right of page */
.timer {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* Set all margins for divs with home-wrapper class and center text on page */
.home-wrapper {
    margin: 50px;
    text-align: center;
}

/* Hide divs with hidden class */
.hidden {
    display: none;
}

/* Set color/text color/rounded corners for buttons */
button {
    background-color: rgb(9, 56, 56);
    color: white;
    border-radius: 10px;
}

/* Alter button background color on hover */
button:hover {
    background-color: rgb(32, 158, 158);
}

/* Position questions section in center of page, set top margin */
.coding-questions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: 10rem;
}

/* Set width for questions div */
#coding-questions {
    width: 25rem;
}

/* Remove padding, set max height and adds scrollbars if needed for ordered lists */
ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

/* Set padding, list style, background/text color, width, rounded corners, and margins for list items */
li {
    padding: 5px;
    list-style: decimal inside none;
    background-color:  rgb(9, 56, 56);
    color: white;
    width: max-content;
    border-radius: 4px;
    margin: 5px;
}

/* Enlarges list items and changes cursor to pointer on hover */
li:hover {
    transform: scale(105%);
    cursor: pointer;
}

/* Positions div with center class to center of page, sets width for positioning */
.center {
    margin: auto;
    width: 30%;
}

/* Positions ordered list on scores.html to center of page */
.flex {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

/* Overwrites li styling with background/text color, no enlarge/cursor change for scores.html list items */
#scores-list li {
    background-color: white;
    color: black;
    transform: none;
    cursor: auto;
}